html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(132deg, #080f5e, #522499, rgb(6, 5, 49), #62056a, rgb(54, 1, 1), rgb(16, 4, 43)
  );
  background-size: 400% 400%;
  animation: BackgroundGradient 20s ease infinite;
  font-family: 'Syncopate', sans-serif;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.bgImageContainer{
  z-index: 1000;
  width: 100%;
  /* height: 2500px; */
  height: auto;
  background-image: url("images/stars2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* nabarbar */

.nav-bar {
  width: 8vw;
  height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 300;
  display: block;
  margin-right: 10px;
  align-items: center;
}

.nav-center {
  margin: 0;
  position: fixed;
  top: 50%;
   -ms-transform: translateY(-50%); 
  transform: translateY(-50%); 
}


.nav-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color:rgba(44, 27, 75, 0.7);
  border-radius: 0 10px 10px 0;
  
}

.active{
   display: block;
  text-align: center;
  padding: 16px;
  padding-bottom: 50px;
}

.activeProfile{
  height: 10vh;
  width: 9vw;
  -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-tap-highlight-color: transparent;
}

.text {
 position: relative;
 height: auto;
 bottom:15px;
 visibility: hidden;
 font-size: 1rem;
 padding: 0.5rem;
}


.activeProfile:hover  .text {
  visibility: visible;
 }
 

.skillsIcon{
  height: 5vh;
  width: auto;
  padding-bottom:1.5vh;
}

#girlIcon{
  height: 6.5vh;
  width: auto;
  padding-bottom: 0;
}

.socialIcons{
  padding: 3px;
  height: 5vh;
  width: auto;
}


/* header opening div content */

.headerMeContainer{
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#name{
  letter-spacing: 2px;
}

.headerPaigeIcon{
  display: block;
  border-radius: 50%;
  height: 20vh;
  width: auto;
  position: relative;
  border-width:5px;  
  border-style:double;
}


/* Skills Section */


.skillsContainer{
  width: 80%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  overflow-x: hidden;
}


.item {
  border-color: white;
  border-style: solid;
  width: auto;
  height: auto;
  margin: 15px;
  margin-bottom: 3vw;
  padding: 2%;
  background: none;
  text-align: center;
  float:bottom;
  color: #FFF;
  font-size: 1.8rem;
}

/* About Me Section */

.alignLeft{
  text-align: left;
  width: 100%;
}

/* Projects Section */

.projectContainer{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 5% 5% 5% 15%;
  /* padding-right: 10%;
  padding-bottom: 0; */
  overflow-x: hidden;
}

#projectTitle{
  margin-top: 12%;
}


.projectImages{
  width: 80%;
  height: auto;
  margin: 2%;
  border-width:5px;  
  border-style:double;
  padding: 1.5%;
  position: relative;
  /* background-color: rgba(48, 48, 48, 0.6); */
}
.layer{
  position: absolute;
  background-color: rgba(85, 85, 85, 0.6);
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    z-index: 1000;
}

.projectButton {
  position: absolute;
  cursor: pointer;
  align-self: center;
  height: inherit;
  text-transform: uppercase;
  font-size: 2vw;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: auto;
  padding: .5em 1.5em;
}
.projectThumbnailContainer{
   position: relative;
   width:50%;
}
.projectThumbnailContainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #555;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.projectThumbnailContainer .btn:hover {
  background-color: black;
}




/* content used throughout page */

.sectionHeader{
  /* margin-bottom: 5vh; */
  letter-spacing: 2px;
}

.centerContent{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1{
  font-size: 4vh;
  margin-left: 10vw;
  margin-right: 5%;
}

p{
  font-size: 2.3vh;
  margin-left: 10vw;
  margin-right: 5%;
}

.inline{
  display:inline;
}


.lineDivider{
  border: 1px solid white;
  width: 40%;
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin-left: 20%; */
}

.nav-bar2{
  display: none;
}




@media screen and (max-width:930px){
  .nav-bar2 {
    margin: 0;
   
    
    display: inline;
    /* padding-bottom: 3%; */
    /* text-align:center; */
  }

  .nav{
    z-index: 3000;
    position: fixed; 
    top: 0;
    background-color: rgba(0 ,0 ,0, 0.8);
    width: 100%;
    /* margin:0 auto; */
    height: 8vh;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  }

  .nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav-center{
  display:none;
}

  .text{
    padding-top: 4vh;
    visibility: visible;
      font-size: 0.7rem;
      margin-left: 0.3rem;
      margin-top: 2%;
      text-decoration: none;
      color: white;
  }
  a.activeProfile{
    margin-right: 20px;
    visibility: hidden;
  }

  .skillsIcon{
    display: none;
  }

  p{
  margin-left: 5vh;
  }
  .projectContainer{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5%;
    /* padding-right: 10%;
    padding-bottom: 0; */
    overflow-x: hidden;
  }
  
  #projectTitle{
    margin-top: 12%;
  }
  
  
  .projectImages{
    width: 65%;
    height: auto;
    margin: 2%;
    border-width:5px;  
    border-style:double;
    padding: 1.5%;
  }
  
}



@media screen and (max-width:350px){
 
  .text{
    font-size: 0.5rem;
  }
  .nav-bar a {
    padding: 4px;  
  }

}


@media screen and (max-width:277px){
  .nav{
    height: 20vh;
  }
  .text{
    margin-top: 0;
    padding-top: 2vh;
    height: 1rem;
  }
}
